*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu__menu {
    width: 100%;
    background-color: rgb( 200,55,39 );
    min-height: 100vh;
    padding: 2% 0;
    text-align: center;
}

.menu__container {
    margin: 0 5%;
    background: #fff;
    padding: 0 10%;
    min-height: 50vh; 
}

.menu__container h1 {
  padding: 2.5rem 0;
  color: rgb( 200,55,39 );
  font-size: 2rem;
}
.menu__container p {
  font-weight: 100;
  font-size: 1.2rem;
}

.menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.menu__item {
    width: 30%;
    margin-bottom: 2rem;
}

.menu__item p {
  font-weight: 100;
  font-size: 1.1rem;
  padding: 1rem 2rem 2rem;
}

.item__img {
    width: 100%;
    padding: 10px;
}
.item__img img{
    width: 100%;
    aspect-ratio: 16/9; 
    object-fit: cover;
}

.item__name , .menu__item h2{
  font-size: 1.5rem;
  padding: 0 0 1rem 0;
}
.txt-center {
  text-align: center;
  width: 100px;
  border-bottom: 2px solid #5e5e5e;
  margin: auto;
}